{% extends "portal/portal_base.html" %}
{% block title %}Test{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="well">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <span>THIS IS LEFT MENU:</span>
                        </li>
                        <li>
                            <a href="#">Get Started</a>
                        </li>
                        <li>
                            <a href="#">Select Stack</a>
                        </li>
                        <li>
                            <a href="#">Install Options</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <div class="well">
                    <h2>THERE WILL BE SOMETHING HERE</h2>
                    yo~
                </div>
            </div>
        </div>
    </div>
{% endblock %}
