<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Chart Renderer</title>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'log2chart/highcharts/highcharts.js' %}"></script>
        <script type="text/javascript" src="{% static 'log2chart/js/renderer.js' %}"></script>
    </head>
<body>
    <div id="container" style="min-width:400px; max-width:666px; min-height:500px; margin:0 auto;"></div>
    <div>
        <a href="/log2chart">Back</a>
    </div>

</body>
</html>

